<ion-view>
  <ion-nav-buttons side="left">
    <!-- <button class="button button-clear icon ion-ios7-arrow-back" ng-click="goToPrevious()"> Back</button> -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <a href= "#/app/matches" class="button button-clear"><i class="ion-chatbubbles"></i></a>
    <h1 class="title">Settings</h1>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="list list-inset">
      	<div class="item">
      	Youngest you will date:
      	<input type="number" ng-model="preferred_min_age" min="18" value={{preferred_min_age}}>
      	</div>
      	<div class="item">
      		Oldest you will date: <input type="number" ng-model="preferred_max_age" min="{{preferred_min_age}}" value={{preferred_max_age}}>
      	</div>
      	<div class="item">
      		Distance to search (km): <input type="number" ng-model="preferred_distance" value={{preferred_distance}}>
      	</div>

        <div class="item">
          <div class="row">
            <div class="col text-center">today</div>
            <div class="col text-center">tomorrow</div>
          </div>
          <div class="row">
            <div ng-class="today_before_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_today_before_five()">before 5</div>
            <div ng-class="today_after_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_today_after_five()">after 5</div>
            <div ng-class="tomorrow_before_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_tomorrow_before_five()">before 5</div>
            <div ng-class="tomorrow_after_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_tomorrow_after_five()">after 5</div>
          </div>
          
        </div>
        <ion-checkbox ng-model="remember_availability">Remember availability? </ion-checkbox>
        
          <div class="item row">
            <div ng-class="coffee? 'selected col text-center' :'unselected col text-center'" ng-click="select_coffee()">Coffee</div>
            <div ng-class="lunch? 'selected col text-center' :'unselected col text-center'" ng-click="select_lunch()">Lunch</div>
            <div ng-class="dinner? 'selected col text-center' :'unselected col text-center'" ng-click="select_dinner()">Dinner</div>
            <div ng-class="drinks? 'selected col text-center' :'unselected col text-center'" ng-click="select_drinks()">Drinks</div>
          </div>
  
        <div class="row">
          <div class="col text-center">
      	     <div class="item button" ng-click="saveSettings()">Save!</div>	
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
