<ion-view>
  <ion-nav-buttons side="left">
    <!-- <button class="button button-clear icon ion-ios7-arrow-back" ng-click="goToPrevious()"> Back</button> -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <a href= "#/app/matches" class="button button-clear"><i class="ion-chatbubbles"></i></a>
    <h1 class="title">Settings</h1>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="list list-inset">
        <div class="item item-divider question"> Age, Height & Distance </div>
      	<div class="item">
        	<div class="vertical-center question">Youngest you will date:</div>
        	<input type="number" ng-model="preferences.preferred_min_age" min="18" value={{preferences.preferred_min_age}}>
      	</div>
      	<div class="item">
      		<div class="vertical-center question">Oldest you will date:</div>
          <input type="number" ng-model="preferences.preferred_max_age" min="{{preferences.preferred_min_age}}" value={{preferences.preferred_max_age}}>
      	</div>

        <div class="item"> 
          <div class="vertical-center question"> Min Height:</div>
          <input class="height-question-inputs" type="number" placeholder="In" ng-model="preferences.preferred_min_inches" max="11" min="0"> 
          <input class="height-question-inputs" type="number" placeholder="Ft" ng-model="preferences.preferred_min_feet" max="8" min="1"> 
        </div>

        <div class="item"> 
          <div class="vertical-center question"> Max Height:</div>
          <input class="height-question-inputs" type="number" placeholder="In" ng-model="preferences.preferred_max_inches" max="11" min="0"> 
          <input class="height-question-inputs" type="number" placeholder="Ft" ng-model="preferences.preferred_max_feet" max="8" min="1"> 
        </div>


        <div class="item">
          Distance to search (km): <input type="number" ng-model="preferences.preferred_distance" value={{preferences.preferred_distance}}>
        </div>


      </div>

      <div class="list list-inset">
        <div class="item item-divider question"> Intentions you will accept: </div>
          <ion-checkbox ng-repeat="answer in question_1_answers" ng-model="preferences.preferred_intentions[$index]" ng-checked="preferences.preferred_intentions[$index]"> 
            {{answer.value}}
          </ion-checkbox>
      </div>
      <div class="list list-inset">
          <div class="item item-divider question"> Body type you will accept: </div>
          <ion-checkbox ng-repeat="answer in question_2_answers" ng-model="preferences.preferred_body_type[$index]" ng-checked="preferences.preferred_body_type[$index]"> 
            {{answer.value}}
          </ion-checkbox>
      </div>

        <!-- <div class="item">
          <div class="row">
            <div class="col text-center">today</div>
            <div class="col text-center">tomorrow</div>
          </div>
          <div class="row">
            <div ng-class="today_before_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_today_before_five()">before 5</div>
            <div ng-class="today_after_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_today_after_five()">after 5</div>
            <div ng-class="tomorrow_before_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_tomorrow_before_five()">before 5</div>
            <div ng-class="tomorrow_after_five? 'selected col text-center' :'unselected col text-center'" ng-click="select_tomorrow_after_five()">after 5</div>
          </div>
          
        </div>
        <ion-checkbox ng-model="remember_availability[0]">Remember availability? </ion-checkbox>
         -->
        <div class="row">
          <div class="col text-center">
      	     <div class="item button" ng-click="saveSettings()">Save!</div>	
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
